
#editor::-webkit-scrollbar {
  display: none;
}
#preview::-webkit-scrollbar {
  display: none;
}


#new-quote:hover{
  background: #ff0066;
  border: #99e6ff;
  color: #99e6ff !important;
  border-radius: 25px !important;
  transition: .6s;
}
#new-quote{
  transition: .6s;
}


#quote-box{
  transition: .6s !important;
}